$background-color: #000000;
$border-color: #DCDCDC;
$text-color: #196b19;
$link-hover: #218d21;
$title-color: #145314;
$modal-title: #483D8B;
$modal-subheader: #808080;
$modal-info: #C0C0C0;

body {
  background-color: $background-color;
}

.contributors {
  &__title {
    padding: 10px;
    font-size: 35px;
    color: $title-color;
    text-align: center;
  }
  &__wrapper {
    padding: 10px;
  }
  &__avatar {
    width: 100px;
    height: 100px;
    border: solid $border-color 3px;
    border-radius: 20px;
  }
  &__text {
    display: inline;
    font-size: 25px;
    color: $text-color;
  }
  &__link {
    &:hover {
      color: $link-hover;
    }
  }
  &__header {
    font-size: 30px;
    color: $title-color;
  }
  &__element-wrapper {
    display: flex;
    align-items: center;
    word-break: break-all;
    justify-content: flex-end;
  }
  &__error-message {
    font-size: 30px;
    text-align: center;
    color: $text-color;
  }
}

.modal {
  &__title {
    color: $modal-title;
  }
  &__input-header {
    padding-bottom: 5px;
    word-break: break-all;
  }
  &__input-field {
    padding: 10px;
    margin-bottom: 10px;
  }
  &__list {
    &__-header {
      color: $modal-subheader;
    }
    &__-item {
      color: $modal-info;
      padding-bottom: 5px;
    }
  }
  &__info {
    color: $modal-info;
    padding-bottom: 20px  ;
  }
}
.hidable {
  &__main {
    display: flex;
    @media screen and (max-width: 930px) {
      display: none;
    }
  }
  &__more {
    display: none;
    @media screen and (max-width: 930px) {
      display: flex;
    }
  }
}